<h2>Modulos</h2>
<hr>
<ul class="list-group">
  <!-- <li routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">Home Page</li>
  <li routerLink="about" routerLinkActive="active" class="list-group-item">About Page</li>
  <li routerLink="contact" routerLinkActive="active" class="list-group-item">Contact Page</li> -->
  <!-- <li routerLink="countries/by-capital" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">Pais</li> -->
  <li routerLink="pais/por-pais" routerLinkActive="active" class="list-group-item">Pais</li>

  <!-- <li routerLink="countries/by-country" routerLinkActive="active" class="list-group-item">Doctor</li> -->
  <!-- <li routerLink="countries/by-region" routerLinkActive="active" class="list-group-item">Paciente</li> -->
  <li routerLink="muestra/by-muestra" routerLinkActive="active" class="list-group-item">Muestra</li>
  <li routerLink="paciente/by-paciente" routerLinkActive="active" class="list-group-item">Paciente</li>
  <li routerLink="examenes/by-examenes" routerLinkActive="active" class="list-group-item">Examenes</li>
  <li routerLink="valores/by-valores" routerLinkActive="active" class="list-group-item">Valores de Referencia</li>
  <li routerLink="departamentoV2/by-departamentoV2" routerLinkActive="active" class="list-group-item">Departamentos</li>
</ul>
