<h2>Departamentos</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <!-- SEARCH BOX-->
    <shared-search-box *ngIf="selectedFuncion==='Buscar'" placeholder="Buscar por ID" (onValue)="searchDepartamentoV2ById($event)"></shared-search-box>
    <br>
    <button class="btn mx-2" [ngClass]="{'btn-outline-primary':selectedFuncion===funcion}"
    *ngFor="let funcion of funciones" (click)="selectFuncion(funcion)">{{funcion}}</button>
    <hr>
    
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- Table Countries-->
    <departamentoV2-table *ngIf="selectedFuncion=='Buscar'" [departamentosV2]="departamentoV2" (updateEvent)="updateDepartamentoV2($event)" (deleteEvent)="deleteDepartamentoV2($event)"></departamentoV2-table>
  </div>
</div>
<div >
  <departamentoV2-form *ngIf="selectedFuncion==='Guardar'"  (messageEvent)="addDepartamentoV2($event)"></departamentoV2-form>
  <departamentoV2-form *ngIf="selectedFuncion==='Editar'" [departamentoV2Recibida]="d" (updateEvent)="updateDepartamentoV22($event)" ></departamentoV2-form>
</div>
