<!-- {{muestras|json}} -->
<form (ngSubmit)="onSubmit()" #paisV2Form="ngForm">
  <div class="form-group">
      <label for="descripcion">Descripcion</label>
      <input type="text" class="form-control" id="descripcion"
             required
             [(ngModel)]="paisesV2.descripcion" value="test"
             name="descripcion">
  </div>

  <div class="form-group">
      <label for="estado">Estado</label>
      <input type="text" class="form-control" id="estado"
              required
              [(ngModel)]="paisesV2.estado"
              name="estado">
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!paisV2Form.form.valid">Submit</button>
  </form>
